@media screen and (min-width: 412px) and (max-width: 900px) {
    .navedit {
        background-image: linear-gradient(to right top, #069caa, #00999d, #00958f, #009180, #108c70);
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 500;
        font-size: 30px;
    }

    .topbar {
        width: 100%;
    }

    .topedit {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .design {
        width: 100%;
    }}